.label-custom-1 {
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    width: 170px;
    height: 37px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
    opacity: 0.9;

}

/* fix hard */
.row-content {
    width: 600px;
}

.input-keyword {
    width: 165px;
    height: 37px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
    opacity: 0.9;
}


.btn-custom-2 {
    background-color: #4f81bd;
    color: white;
    float: right;
    border: 3px solid #385d8a;
    padding: 5px 30px;
    margin-right: 70px;
    border-radius: 10px;
}


.row-content {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

table {
    width: 100%;
}

th {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
}

tr {
    height: 30px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button {
    background-color: #6095cf;
    color: white;
    border: 1px solid #385d8a;
    opacity: 0.8;
    padding: 3px 10px;
}

.wrapper {
    width: fit-content;
    height: auto;
}

/* form-control center layout */
.form-control {
    width: fit-content;
    margin: 0 auto;
}

.btn-custom-1 {
    background-color: #4f81bd;
    color: white;
    margin-left: 10px;
    border: 3px solid #385d8a;
    padding: 10px 30px;
    border-radius: 10px;
}

.btn-custom-3 {
    background-color: #6095cf;
    color: white;
    margin-left: 40px;
    opacity: 0.7;
    border: 3px solid #385d8a;
    padding: 10px 30px;
    border-radius: 10px;
}

